.navbarContainer{
  width: 100%;
  background-color: black;
  height: 50px;
  text-align: center;
  padding: 2px;
}

.searchBar{
  width: 400px;
  height: 35px;
  margin: 7px;
  border-radius: 10px;
  padding: 5px;
}

.searchbtn{
  height: 35px;
  width: 90px;
  margin: 7px;
  border-radius: 10px;
  padding: 5px;
  color: blue;
  transition: transform 0.1s ease-in-out;
}

.searchbtn:hover{
  background-color: blue;
  color: white;
  transform: scale(1.05);
}



/* Style for the card container */
.displayMovies {
  margin-top: 20px;
}

/* Style for individual movie cards */
.card-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.card {
  width: 200px;
  margin: 10px;
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  transition: transform 0.2s ease-in-out;
}

.card:hover {
  transform: scale(1.05);
}

.card img {
  max-width: 100%;
  height: auto;
  border-radius: 4px;
  margin-bottom: 10px;
}

.card-body {
  text-align: center;
}

.card-title {
  font-size: 16px;
  font-weight: bold;
  margin-bottom: 5px;
}

.card-text {
  font-size: 14px;
  margin: 5px 0;
}


